// Credentials file, do not share!!!!

#define WIFI_SSID               "..."
#define WIFI_PASSWORD           "..."

#define CAYENNE_USERNAME        "..."
#define CAYENNE_PASSWORD        "..."
#define CAYENNE_CLIENTID        "..."
